*
{
      box-sizing: border-box;
}

img,a
{
      display:block;
}

img
{
      max-width: 100%;
}

a
{
      text-decoration: unset;
}

html
{
      scroll-behavior:smooth;
	  overflow-x: hidden;
}

body
{
      /* background: linear-gradient(135deg, #f7f7f7, #afafaf); */
      background: #f6f8fa;
      font-family: '微軟正黑體'; 
      position: relative;
      margin: 0;
      min-height:100vh;
}            

header
{
      /*background: #8fccef;*/
      /* background: #6fb5dd;
      color: #005485; */
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      font-weight: bold;      
      padding: 10px 15px;
}

@media screen and (min-width:1921px){
	header{
		padding: 0 calc((100% - 1920px)/2) !important;
	}
}

header.active{
	background: #FFFFFF;
	box-shadow: 0 0 13px 6px rgba(0,0,0,.13);
}

.headerTopic
{      
      color: #FFFFFF;
      font-family: 'Arial';
      font-size: 24px;
}

@media screen and (max-width:330px){
	.headerTopic{
		font-size: 18px;
	}
}

header.active .headerTopic{
	color: #333333;
}

.headerMenuBtnBox
{
      display: none;
}

.headerMobileMenuBth
{
      color: #FFFFFF;
	  cursor: pointer;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      z-index: 2;
      font-size: 24px;
}

header.active .headerMobileMenuBth{
	color: #333333;
}

.menuTopicClose{
	cursor: pointer;
}

.menuBox
{
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: -1;
      min-height: 100vh;
}

.menuBox.active
{
      z-index: 1000;
}

.menuCont
{
      background: #3d3d3d;
      font-weight: bold;
      transition: all .5s;
      position: absolute;
      top: 0;
      right: -100%;
      min-height: 100vh;
      width: 75%;
}

.menuBox.active .menuCont
{
      z-index: 1000;
      right: 0;
}

.menuTopicBox
{
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin: 0 0 20px 0;
      font-size: 20px;
}

.menuBtnBox
{
      padding: 10px;
}

.menuBtn
{
      color: #FFFFFF;
      transition: all .3s;
      font-size: 16px;
}

.menuBtn:not(:last-child)
{
      margin: 0 0 30px 0;
}

.menuBtn.second
{
      margin: 0 0 10px 0;
      padding: 0 0 0 15px;
}

.menuBtn.second.last
{
      margin: 0 0 30px 0;
}

.menuBg
{
      background: rgba(0,0,0,.7);
      height: 100%;
      width: 100%;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      z-index: -1;
}

.menuBox.active .menuBg
{
      display: block;
}

@media screen and (max-width:767px){
	.banner{
		aspect-ratio: 16/7;
	}

	.banner img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

@media screen and (min-width:1921px){
	.banner{
		height: 600px;
	}

	.banner img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.h1Title{
	width: 0;
	height: 0;
	opacity: 0;
	margin: 0;
	pointer-events: none;
}


.Outer
{
      /*padding: 48px 0 0 0;*/
}

.Block
{
      padding: 60px 15px;
}

.Block.about
{
      background: white;      
}

.Topic
{
      color: #333333;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      margin: 0 0 30px 0;
}

@media screen and (max-width:575px){
	.aboutBot.pc{
		display: none;
	}
}

.aboutPhoto
{
      width: 100%;
      margin: 0 0 10px 0;
}

.Block.list
{
    background: #fbfbfb;
}

.listBox{
	margin: 0 auto;
	max-width: 500px;
}

@media screen and (max-width:1199px){
	.listBox{
		max-width: 500px;
	}
}

@media screen and (max-width:499px){
	.listBox{
		max-width: 100%;
	}
}

.listLink
{
	/* overflow:hidden;*/
	transition: all .3s;
	width: 100%;
	margin: 0 0 60px 0;
}

.listTitle
{
      color: #333333;
      font-weight: bold;
	  transition: all .3s;
      margin: 15px 0 10px 0;
      font-size: 20px;                  
}

.listItemBox
{
	list-style: none;
	transition: all .3s;
	margin: 0;
    padding: 0 0 0 10px;      
}

.aboutCont .listItemBox
{
      padding: 0;
      margin: 0 0 15px 0;
}

.listItem
{
      color: #333333;
      position: relative;
	  display: flex;
	  align-items: center;
	  flex: wrap;
	  word-break: break-all;
      font-size: 16px; 
      padding: 0 0 0 16px;
}

.listItem a{
	color: #333333;
	transition: all .3s ease-in-out;
}

.listItem a:hover{
	color: #999999;
}

.listItem:not(:last-child)
{
      margin: 0 0 5px 0;
}

.listItem::after
{
      background: #333333;
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 6px;
      z-index: 2;
      width: 4px;
      height: 4px;
      border-radius: 999rem;
}

.listItem.nodecro
{
      padding: 0 0 0 6px;
}

.listItem.nodecro::after
{
      display: none;
}

.listImg
{
	overflow: hidden;
	width: 100%;
	aspect-ratio: 16/10;
}

.listImg img{
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: 100%;
}

.Block.contact
{
      background: #f5f5f5;      
}

.copyrightBox
{
      background: #333333;
      color: #FFFFFF;
      text-align: center;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 13px;
      padding: 5px 0;
}

.Top
{
      color: #FFFFFF;
      background: #505050;
      box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
      transition: all .3s;
      font-weight: bold;
      cursor: pointer;
      position: fixed;
      border-radius: 999rem;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
      bottom: 20px;
      right: 15px;
     
}

.Top:not(.active){
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

.Top.active
{
	z-index: 999;
}

.Top:hover{
    transform: translateY(-10px);
}